<fieldset>
  <legend>Mission Statement/Philosophy</legend>
  <p>It's very simple. The attorneys and staff at The Law Offices of Sam Hill, LLC are committed to providing excellent
    legal services and support to those individuals or businesses that have encountered events that are legal in
    nature</p>
</fieldset>
<div class="info-container">
  <div class='left-section'>
    <h3>About Us</h3>

    <p>Bacon ipsum dolor sit amet pork loin beef tongue beef ribs tenderloin. Shoulder shank flank swine pork chop
      tenderloin doner prosciutto. Venison leberkas kevin sirloin. Chuck shankle pork loin biltong leberkas capicola
      shank sausage kielbasa jowl ribeye filet mignon rump venison cow. Frankfurter shank pork loin flank tri-tip
      brisket ball tip.
      <br/><br/>
      Filet mignon ham hock leberkas, corned beef pancetta meatball capicola. Kevin tenderloin pig filet mignon shankle
      ribeye bresaola, frankfurter chuck capicola. Jerky drumstick turkey, filet mignon porchetta bacon short ribs
      fatback beef short loin jowl ribeye. Prosciutto jerky doner boudin capicola frankfurter sausage bacon strip steak
      fatback andouille kevin brisket pork. Tenderloin turkey ham hock kevin boudin chuck cow pork chop tongue andouille
      capicola prosciutto spare ribs fatback beef ribs. Brisket beef tongue t-bone strip steak tri-tip. Boudin spare
      ribs short ribs, salami ham hock ground round filet mignon pig tenderloin.</p>
  </div>

  <div class="right-section">
    <h3>Services</h3>
    <ul>
      <li>Class Actions</li>
      <li>Fair Debt Collection Actions</li>
      <li>Phantom Fees</li>
      <li>Product Injuries</li>
      <li>TCPA ("Junk Fax")</li>
    </ul>
  </div>
</div>


<div id="myModal" class="reveal-modal">
  <h1 class="centered-text">Sam Hill</h1>
  <%= image_tag('dad_and_randy.jpg')  %>
  <p>Bacon ipsum dolor sit amet hamburger laboris qui nulla, biltong turducken incididunt et consequat ut shankle adipisicing in. Bresaola swine dolore excepteur sed salami. Magna anim nisi pork belly sunt irure, spare ribs in exercitation. Dolore beef tongue do, rump non meatball officia. Chuck bresaola tri-tip frankfurter, pork loin kevin do sunt adipisicing et. Spare ribs kevin kielbasa qui ea, pork loin velit frankfurter est chicken. Frankfurter ut velit veniam pancetta nisi in proident adipisicing filet mignon short ribs chuck.

    Magna ut ground round, pork belly boudin labore prosciutto ball tip beef ribs kielbasa brisket filet mignon fugiat excepteur. Aute capicola pastrami frankfurter do, proident eu consectetur short loin pork chop incididunt ut labore. Pastrami brisket voluptate tail prosciutto, deserunt flank ground round consequat exercitation commodo boudin. Meatball in do, elit consectetur shoulder sed doner jerky cupidatat veniam enim.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>