/*
 *= require_tree .
 *= require_self
 */

.container {
  width: 70%;
  margin: auto;
  margin-top: 4%;
}

.centered-text {
  text-align: center;
}

.nav-bar {
  text-align: center;
  li {
    display: inline-block;
    margin-right: 13%;
    margin-left: 13%;
  }
}

.left-section {
  display: inline-block;
  width: 200px;

  *{
    display: inline-block;
    width: 75vw;
  }
}

.right-section {
  display: inline-block;
  width: 25%;
  float: right;
  * {
    display: inlne-block;
  }
}

ul {
  list-style: none;
}